.form {
    border-color: rgba(34, 60, 80, 0.2);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, .5);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.button {
    margin-top: 18px;
}