.navWrapper {
  /* display: flex; */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 48px;
}

.userWrapper {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.welcomeName {
  margin-right: 12px;
  font-size: 24px;
  font-weight: 600;
}

.link {
  margin: 60px;
  display: inline-block;
  background-color: #1bbc63;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, .5);
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  width: 240px; 
}

.link:focus
.link:hover {
  background-color: #d3ffe8;
}